# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules/

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

## .idea folders contains only the setting files for JetBarins IDEs
## , which is preferred not to be included
.idea/


## In the Apple macOS operating system, .DS_Store is a file that stores
## custom attributes of its containing folder, such as the position of
## icons or the choice of a background image
.DS_Store*

## this file will be created automatically if package.json exist
package-lock.json
